header.globalHeader
  p: a(href="/") ヘッダー
  nav.globalHeader_nav
    ul
      li: a(href="/page.html") 1st Page
      li: a(href="/2nd/") 2nd Index
      li: a(href="/2nd/page.html") 2nd Page
      li: a(href="/2nd/3rd/") 3rd Index
      li: a(href="/2nd/3rd/page.html") 3rd Page
