/* リスト共通
---------------------------------------------------------------------- */
ul, ol {
}

/* ul
---------------------------------------------------------------------- */

/*
#styleguide
ul - クラス指定なし

```
<ul>
  <li>リスト</li>
  <li>リスト</li>
  <li>リスト</li>
</ul>
```
 */

/*
#styleguide
ul - 黒丸

```
<ul class="disc">
  <li>リスト</li>
  <li>リスト</li>
  <li>リスト</li>
</ul>
```
 */
.disc {
  display: table;
  padding-left: 0;
  list-style: none;
  li {
    display: table-row;
    &:before {
      display: table-cell;
      padding-right: .4em;
      content: "●";
    }
    &:after {
      display: block;
      margin-bottom: 0;
      content: "";
    }
  }
  ul {
    margin-top: 1em;
    padding-left: 0;
    li {
      &:before {
        content: "○";
      }
    }
    ul {
      li {
        &:before {
          content: "●";
        }
      }
    }
  }
}

/*
#styleguide
ul - 注釈

```
<ul class="list_note">
  <li>リスト</li>
  <li>リスト</li>
  <li>リスト</li>
</ul>
```
 */
.list_note {
  padding-left: 0;
  list-style: none;
  li {
    padding-left: 1em;
    &:before {
      display: inline-block;
      text-indent: -1em;
      content: "※";
    }
  }
}


/* ol
---------------------------------------------------------------------- */

/*
#styleguide
ol - クラス指定なし

```
<ol>
  <li>リスト</li>
  <li>リスト</li>
  <li>リスト</li>
</ol>
```
 */

/*
#styleguide
ol - 丸括弧

```
<ol class="list_parenthesis">
  <li>リスト</li>
  <li>リスト</li>
  <li>リスト</li>
</ol>
```
 */
.list_parenthesis {
  list-style-type: none;
  counter-reset: table-ol;
  li {
    &:before {
      content: "(" counter(table-ol) ")";
      counter-increment: table-ol;
    }
  }
}
// Android hack
.ua-android {
  .list_parenthesis {
    padding-left: 1.4em;
    li {
      &:before {
        text-indent: -1.4em;
      }
    }
  }
}


/* dl
---------------------------------------------------------------------- */

/*
#styleguide
dl - クラス指定なし

```
<dl>
  <dt>dt</dt>
  <dd>dd</dd>
</dl>
```
 */
