doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0")
    meta(name="robots", content="index, floow")
    meta(name="format-detection", content="telephone=no")
    block title
    block meta
    link(rel="stylesheet", src="css/style.css")
  body
    .wrap
      include /header
      block body
      include /footer
    script(src="js/main.js")
