footer.globalFooter
  ul.globalFooter_navList
    li: a(href="/2nd/") 2nd Index
    li: a(href="/2nd/3rd/") 3rd Index
  ul.sns
    li: include /_components/inc_embed_twitter
    li: include /_components/inc_embed_facebook
