extends /_layouts/layout
block title
  title タイトル
block meta
  meta(name="description", content="ここに説明文が入ります。")
block body
  h1 2nd Page
  p.test
    | test-
    span.test-child
      | child
  p テスト
  p テスト
