extends /_layouts/layout
block title
  title タイトル
block meta
  meta(name="description", content="ここに説明文が入ります。")
block body
  h1 1st Index
  p.test
    | test-
    span.test-child
      | child
  p: a(href="test.html") test.html
  p テスト
  p テスト
